.about-company-wrap#company
    .about-company-inner
        .about-company
            h2= content.aboutCompanyHeader.header
            each text in content.aboutCompanyText
                p= text
