.banner-wrap
    height 100vh
    background $gray url("../../static/img/content/banner.jpeg") no-repeat fixed  center

.banner
    height 100vh
    background url("../../static/img/content/octagon-2525760_640.png") no-repeat center
    background-size 100px auto

.banner-inner
    height 100vh
    display flex
    justify-content center
    align-items center
    font-size 40px
    color $green

@media (min-width 1024px)
    .banner-wrap
        background-size  150% auto

@media (max-width 1024px)
    .banner-wrap
        background-size  auto 150%

@media (max-width: 424px)
    .banner-wrap
        background-size auto 150%

@media (min-height: 900px)
    .banner-wrap
        background-size auto 150%