.page-header-wrap
    size(100%, auto)
    background linear-gradient(to top left, #b24534, #b234a1)

.page-header-inner
    margin 0 auto
    size(90%, 8px)
    //background-image url("../img/general/header-bg.jpg")