$white = rgb(255,255,255)
$green = rgb(52,180,132)
$gray  = rgb(51,51,51)
$light-gray = rgb(233,233,233)

$red = rgb(178, 69, 52)
$lilac = rgb(178, 52, 161)

// colour --- main.styl
$body-bg = $gray

// colour --- navigation
$bg-page-nav = rgba(0, 0, 0, 0.9)
$menu-link = $white
$menu-link-hover = $green
$bg-btn-burger = $green
$bg-nav-overlay = $gray

$menu-link-overlay = $green
$menu-link-overlay-hover = $white

$menu-sub-list = $white
$menu-sub-list-hover = $green

$bg-social-icon = $light-gray
$social-icon = $gray

$bg-social-icon-hover = $green
$social-icon-hover = $light-gray

// colour --- header
$gradient-primary = $lilac
$gradient-secondary = $red

// colour --- banner

// colour ---about-company
$about-company-bg = $gray